:root{
    --padding:10px;
    --padding2:22px;
    --radius:5px;
    --black:#292525;
    --gray:#3a3737;
    --vino:#973139;
    --vino-hover:#8f212a;
    --vino-active:#be4953;
    --light-gray:#dddddd;
    --light-gray2: rgb(240, 240, 240);
    --white:rgb(250, 252, 255);
    --danger:#e44250;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.loginbox{
    padding: 1rem;
    width: 300px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #000000ab;

    opacity: 0%;
    transition: 0.5s;
}
.loginbox h1{
    text-align: center;
}
p{
    display: flex;
    margin: 0;
    margin-bottom: 0.5rem;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 100%;
    outline: none;
    border: 0;
    height: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--gray);
    color: var(--white);
    border: 2px solid transparent;
}
.button{
    background-color: var(--vino);
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: 0.2s;
    color: white;
}
.button:hover{
    background-color: var(--vino-hover);
}
.button:active{
    background-color: var(--vino-active);
    transition: 0s;
}

.link a{
    color:var(--white)
}
.error{
    color: var(--danger)
}
.required{

    border: 2px solid var(--danger);
}